@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.userName {
    background: #6672DF;
    border-radius: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #9CA5FE;
    border: none;
    text-align: center;
    padding: 10px;
    // margin: 30px;

    &::placeholder {
        color: #9CA5FE;
    }

    &:focus {
        outline: #9CA5FE;
    }
}

.characteristics {
    background: #6672DF;
    border-radius: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #9CA5FE;
    border: none;
    text-align: center;
    padding: 10px;
    // margin: 30px;
    // width: 100%;
    margin: 10px;

    &::placeholder {
        color: #9CA5FE;
    }

    &:focus {
        outline: #9CA5FE;
    }
}

.primary {
    background: #6672DF;
    border-radius: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #9CA5FE;
    border: none;
    text-align: center;
    padding: 10px;
    // margin: 30px;
    // width: 100%;
    margin: 10px;

    &::placeholder {
        color: #9CA5FE;
    }

    &:focus {
        outline: #9CA5FE;
    }
}

.secondary {
    background: #9D9EA7;
    border-radius: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #C3C4C7;
    border: none;
    text-align: center;
    padding: 10px;
    // margin: 30px;
    // width: 100%;
    margin: 10px;

    &::placeholder {
        color: #C3C4C7;
    }

    &:focus {
        outline:#C3C4C7;
    }
}