Card {
    width: 100px;
    height: 200px;
    position: relative;
    background: #232323;
    border: 5px solid #6672DF;
    box-sizing: border-box;
    border-radius: 27px;
    margin: 3vh 25% 3vh 25%;
    padding: 2vh 1vw 2vh 1vw;
}