@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

form {
    display: block;
    width: 100%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    background: #232323;
    border: 5px solid #6672DF;
    box-sizing: border-box;
    border-radius: 27px;
    padding: 2vh 1.5vw 2vh 1.5vw;

    input {
        display: block;
        background: #151515;
        border-radius: 7px;
        border: none;
        height: 3vh;
        width: 97%;
        padding: 0.5vw;
        color: white;
    }

    label {
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: white;
        padding-top: 1.5vh;
        padding-left: 0.5vw;
    }

    .checkbox-wrapper {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
        margin-top: 4vh;

        .checkbox-container {
            display: flex;
            flex-direction: row;

            &:hover input ~ .checkmark {
                background-color: black;
            }

            & .checkmark::after {
                margin: auto;
                margin-top: 2px;
                width: 10px;
                height: 35px;
                border: solid #6672DF;
                border-width: 0 3px 3px 0;
                transition: all 400ms ease;
                transform: rotate(45deg);
            }

            input {
                height: 0px;
                width: 0px;

                &:checked ~ .checkmark::after{
                    display: block;
                }
            }

            .checkmark {
                width: 45px;
                height: 45px;
                background-color: #151515;
                border-radius: 10px;
                margin-right: 0.5vw;

                &::after {
                    display: none;
                    content: "";
                }
            }
        }
    }

    .button-wrapper {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        margin-top: 2vh;

        .button-container-1 {
            margin: 0 3vw 0 0;
        }

        .button-container-2 {
            margin: 0 0 0 3vw;
        }

    }
}
