a {
    text-decoration: none;
}

.Button {
    position: relative;
    width: fit-content;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #4C0B9E, #0C85B9);
    transition: ease-in-out;
    border-radius: 22px;
    margin: 0%;
    margin-top: 15px;
    margin-bottom: 15px;

    p {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        text-align: center;
        color: #000000;
        margin: 0%;
        padding: 1vh 1vw 1vh 1vw;
        text-decoration: none;
    }
}
